// $bg__orange: #f5a52331;
// $border__orange: #F5C87F;

.card{
  &-enter-active, &-leave-active, &-move {
      transition: opacity 0.5s, transform 0.5s;
  }
  &-enter, &-leave-to {
      opacity: 0;
  }
}

.v-btn:hover:before,
.v-btn:hover::before,
.v-btn:focus-within:before,
.v-btn:focus::before,
.v-btn:focus:before{
  opacity: 0 !important;
}

